<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    Назначение этого заклинания пока неведомо. Набор стилей ради одной кнопки "Выход"?-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<!--    Заклинание для загрузки jQuery с https://cdnjs.cloudflare.com/ - анимация меню-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous">
    </script>
<!--    Конец заклинания-->
    <script defer src="{% static 'script.js' %}"></script>  <!--скрипт для управления меню в профиле юзера-->
    <link href="{% static 'styles.css' %}" rel="stylesheet" type="text/css"> <!--мой стиль-->

    <title>Codeby - {% block title %}онлайн-курсы{% endblock %}</title>
</head>
<body>
    <header>
        <nav class="header_container">
            <div class="logo_container">
                <a class="logo" href="{% url 'index' %}">
                    <img src="{% static 'logo2.jpg' %}" alt="Логотип сайта" title="Лого сайта">
                    {% comment 'Возможен и такой вариант:' %}
                    {% static 'logo.png' as logo_url %}
                    <img src="{{ logo_url }}" alt="Логотип сайта" title="Лого сайта">
                    Но потребуется заранее загрузить: {% load static %}
                    {% endcomment %}
                </a>
                <div class="describer">
                    <div class="title"><h2 translate="no">Codeby</h2></div>
                    <div class="role">онлайн-курсы</div>
                </div>
            </div>
            <div class="nav-toggle"><span></span></div>
            <div class="auth_container">
                {% if user.is_authenticated %}
                    <div class="profile">
                        <div><a href="#">{{ user.last_name }} {{user.first_name }}</a></div>
                        <div class="submenu_profile" style="display: none;">
                            <div>
                                <p><a class="fa fa-heart" style="color: pink;" href="{% url 'favourites' %}">Избранное</a></p>
                                <p><a class="fa fa-tasks" style="color: pink;" href="{% url 'tracking' %}">Прогресс</a></p>
                                <p><a style="color: cyan;" href="{% url 'settings' %}">Вид</a></p>
                                <p><a style="color: green;" href="{% url 'password_change' %}">Сменить пароль</a></p>
                                <p class="fa fa-sign-out">
                                <!--Стандартная иконка "Выход" из стиля font-awesome (подстыковывается выше)
                                Без интернета не прорисуется!-->
                                <!-- тут и далее со страницы /courses/ выпадал в ошибку:
                                "Reverse for 'logout' not found.'logout' is not a valid view function or pattern name."
                                Решил добавлением обратных путей в auth_apps/url.py, например:
                                path('login/', login, name='login')-->
                                <a style="color: rgba(238, 68, 68, 0.83)" href="{% url 'logout' %}">Выход</a></p>
                            </div>
                        </div>
                    </div>
                    <div> <a href="{% url 'create' %}">Создать курс</a></div>
                {% else %}
<!--                    <div class="nav-toggle"><span></span></div>-->
                    <div class="semibutton"><a href="{% url 'login' %}" style="color: #0f0">Вход</a></div>
                    <div class="semibutton"><a href="{% url 'register' %}" style="color: #0ff">Регистрация</a></div>
                {% endif %}
            </div>
        </nav>
    </header>
<main>
    {% block content %}{% endblock %} <!--Здесь шаблонизатор может вставлять блоки расширения
    в нашем случае такие блоки будут описаны в index.html и detail.html-->
</main>
<footer>
    <div class="footer_container">
<!--        <div class="footer_container_block">-->
<!--            <img src="{% static 'logo.png' %}" alt="лого сайта" title="лого сайта">-->
<!--        </div>-->
        <div class="footer_container_block">
                <div class="describer">
                    <div class="title"><h2 translate="no">Codeby</h2></div>
                    <div class="role">онлайн-курсы</div>
                </div>
        </div>
        <div class="footer_container_block">
            <p>&copy; {{ current_year }} Все права защищены</p>
        </div>
        <div class="footer_container_block">
            <a href="#" style="color: gray">Политика конфиденциальности</a>
        </div>
        <div class="footer_container_block">
            <a href="#" style="color: gray">Условия использования</a>
        </div>
    </div>
<!--        <div class="logo">-->
<!--            <div class="copyright-mark">-->
<!--                <img src="{% static 'logo.png' %}" alt="лого сайта" title="лого сайта" max-width="20%">-->
<!--                    <div class="title"><h2 translate="no">Codeby</h2></div>-->
<!--                    <div class="role" display="flex">онлайн-курсы</div>-->
<!--            </div>-->
<!--            <div class="copyright-mark">-->
<!--                <div class="role">&copy; {{ current_year }} Все права защищены</div>-->
<!--            </div>-->
<!--            <div class="privacy"><a href="#">Политика конфиденциальности</a></div>-->
<!--            <div class="terms"><a href="#">Условия использования</a></div>-->
<!--        </div>-->
    </div>
</footer>
</body>
</html>