{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="course_container">
        <div class="course_preview" style="transform:none; box-shadow: none; border: none">
            <p><a href="{% url 'delete' course.pk %}" style="color:red; display: block;">Удалить</a></p>
            <p><a href="{% url 'update' course.pk %}" style="color:blue; display: block;">Изменить</a></p>
            <p><a href="{% url 'index' %}" style="color:gray; display: block;">К списку курсов</a></p>
            <p><u style="color:blue;">{{ course.title }}</u></p>
            <p>Автор: {{ course.author.last_name }} {{ course.author.first_name }}</p>
            <p>Начало: {{ course.start_date }}</p>
            <p>Продолжительность: {{ course.duration }} мес.</p>
            <p>Кол-во уроков: {{ course.count_lessons }}</p>
            <p>Аннотация: {{ course.description }}</p>
            <p><span class="price">Цена: {{ course.price }} руб.</span></p>
        </div>
        <div class="course_preview" style="transform:none; box-shadow: none; border: none">
            {% with count_lessons=lessons.count %}   <!-- Создание переменной в процессе выполнения -->
            <u style="color:blue;">Уроки (всего {{ lessons.count }})</u>
            <ol>
<!-- Решил опробовать список уроков в виде HTML-списка с условной номерацией - работает -->
<!--                А можно вставить счетчик из Джанги: {{ forloop.counter }}-->
                {% spaceless %}   <!-- выброс пробелов, табов и переводов строк. Что-то не заметно -->
                {% for lesson in lessons %}
                    <li> <p style="font-weight: bold">{{ forloop.counter }}/{{ count_lessons }}: {{ lesson.name }}:</p> <p>{{ lesson.preview }}</p> </li>
                {% empty %}
                    <p>Курс пока не содержит ни одного урока</p>
                {% endfor %}
                {% endspaceless %}
            </ol>
            {% endwith %}  <!-- до конца блока with переменная count_lessons будет существовать -->
            {% verbatim %}
                Все между тегами verbatim/endverbatim напрямую пойдет на страницу
            {% endverbatim %}
            <form method="post" action="{% url 'enroll' course.pk %}">
                <!-- Токен для защиты от подделки межсайтовых запросов -->
                {% csrf_token %}
                <!-- без него обработка формы завершится ошибкой "403...SCRF запрос отклонен -->
                <input type="submit" value="Записаться">
            </form>
            <p style="font-weight: bold; margin-left: 5.5%">
                Отзывы (всего
                <span style="font-weight: initial; font-size: 0.85em">
                    {{ reviews.count }}
                </span>
                ) <a href="{% url 'review' course.pk %}">Отставить отзыв</a>
            </p>
            <div class="reviews_container">
                {% for review in reviews %}
                <div class="review">
                    {% if review.user.avatar %}
                        <img src="{{ review.user.avatar.url }}">
                    {% else %}
                        <img src="{% static 'NoAvatar.png' %}">
                    {% endif %}
                    <p>{{ review.sent_date }} {{ review.user.last_name }} {{ review.user.first_name }}:</p>
                    <p>{{ review.content }}</p>
                </div>
                {% empty %}
                    <p>Отзывов пока нет. <a href="{% url 'review' course.pk>">Оставить отзыв</a></p>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}