{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="course_container">
        {% with course_var=lessons.first.course %}
        <div class="course_preview" style="transform:none; box-shadow: none; border: none">
            <p><a href="{% url 'delete' course_var.pk %}" style="color:red; display: block;">Удалить</a></p>
            <p><a href="{% url 'update' course_var.pk %}" style="color:green; display: block;">Изменить</a></p>
            <p><a href="{% url 'create_lesson' course_var.pk %}" style="color:blue; display: block;">Добавить урок</a></p>
            <p><a href="{% url 'index' %}" style="color:gray; display: block;">К списку курсов</a></p>
            <p><u style="color:blue;">Курс: {{ course_var.title }}</u></p>
            {% with authors=course_var.authors.all %}
                {% if authors|length == 1 %}
                    <p>Автор: {{ authors.0.last_name }} {{ authors.0.first_name }}</p>
                {% else %}
                    <p>Авторы:
                    {% for au in authors %}
                        {{ au.last_name }} {{ au.first_name }};
                    {% endfor %}
                    </p>
                {% endif %}
            {% endwith %}
            <p>Начало: {{ course_var.start_date }}</p>
            <p>Продолжительность: {{ course_var.duration }} мес.</p>
            <p>Кол-во уроков: {{ course_var.count_lessons }}</p>
            <p>Аннотация: {{ course_var.description }}</p>
            <p><span class="price">Цена: {{ course_var.price }} руб.</span></p>
        </div>
        <div class="course_preview" style="transform:none; box-shadow: none; border: none">
            {% with count_lessons=lessons.count %}   <!-- Создание переменной в процессе выполнения -->
            <u style="color:blue;">Уроки: (всего {{ count_lessons }})</u>
            <ol>
                {% spaceless %}   <!-- выброс пробелов, табов и переводов строк. Что-то не заметно -->
                {% for lesson in lessons %}
                    <li> <p style="font-weight: bold">{{ forloop.counter }}/{{ count_lessons }}: {{ lesson.name }}:</p> <p>{{ lesson.preview }}</p> </li>
                {% empty %}
                    <p>Курс пока не содержит ни одного урока</p>
                {% endfor %}
                {% endspaceless %}
            </ol>
            {% endwith %}  <!-- до конца блока with переменная count_lessons будет существовать -->
            <form method="post" action="{% url 'enroll' course_var.pk %}">
                <!-- Токен для защиты от подделки межсайтовых запросов -->
                {% csrf_token %}
                <!-- без него обработка формы завершится ошибкой "403...SCRF запрос отклонен -->
                <input type="submit" value="Записаться">
            </form>
            <p style="font-weight: bold; margin-left: 5.5%">
                Отзывы (всего
                <span style="font-weight: initial; font-size: 0.85em">
                    {{ reviews.count }}
                </span>
                ) <a href="{% url 'review' course_var.pk %}">Оставить отзыв</a>
            </p>
            <div class="reviews_container">
                {% for review in reviews %}
                <div class="review">
                    {% if review.user.avatar %}
                        <img src="{{ review.user.avatar.url }}">
                    {% else %}
                        <img src="{% static 'NoAvatar.png' %}">
                    {% endif %}
                    <p>{{ review.sent_date }} {{ review.user.last_name }} {{ review.user.first_name }}:</p>
                    <p>{{ review.content }}</p>
                </div>
                {% empty %}
                    <p>Отзывов пока нет.</p>
                {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}