{% extends 'base.html' %}
{% load static %}
{% load cache %}
{% block content %}
    <div class="index">
    <form class="courses_filter" id="form" method="get">
        {{ form }}
        <button type="submit">Получить</button>
    </form>

    <div class="courses_container">
        {% cache 1 course_short_info request.user %} <!-- Срок кеширования не ставить больше, чем для записей - сильно мешает избранному! -->
        {% comment 'Все до endcomment будет считаться комментарием' %}
        {% now 'd.m.Y H:i:s' %}  <!--отображение текущей даты и времени Если указать формат непосредственно, то работает-->
        {% now 'SHORT_DATETIME_FORMAT' %}  <!--а так - упорно без секунд. Перезапуск всего и вся не помог. Загадка...-->
        {% endcomment %}
        {% for course in courses %}
            <div class="courses_preview">
                <p><a href="{% url 'detail' course.pk %}">{{ course.title|upper }}</a></p>
                {% if not course.pk in request.session.favourites or not request.session.favourites %}
                    <div class="favourite_container">
                        <form id="favourite_form" method="post" action="{% url 'add_booking' course.pk %}" title="">
                        <!--id и правда как бы дублируется, но в итоговую страничку попадает только один из них-->
                            {% csrf_token %}
                            <button type="submit" class="fa fa-plus" style="color: #fa9405"></button>
                        </form>
                    </div>
                {% else %}
                    <div class="favourite_container">
                        <form id="favourite_form" method="post" action="{% url 'remove_booking' course.pk %}" title="">
                            {% csrf_token %}
                            <button type="submit" class="fa fa-check" style="color: green"></button>
                        </form>
                    </div>
                {% endif %}
                <p> {{ course.start_date|date:"j E, l" }} </p>  <!--отображение даты в формате "день МесяцПрописью ДеньНеделиПрописью"-->
                <p> {{ course.description|capfirst|truncatechars:40 }} ({{ course.description|wordcount }} слов) </p>
                <p> <span class="price">{{ course.price|default:"Бесплатно" }} р.</span> </p>
            </div>
        {% empty %}
            <p>Курсов пока нет</p>
        {% endfor %}
        {% endcache %}
    </div>
    <div>
        <span>
            {% if page_obj.has_previous %}  <!--page_obj добавляется автоматом, если во View реализован метод get_paginate_by-->
                <a href="?page=1">&laquo; К первой</a>
                <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
            {% endif %}

            <span>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Вперед</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">К последней &raquo;</a>
            {% endif %}
        </span>
    </div>
    </div>
{% endblock %}