{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--ОТЛАДКА-content-index.html-Список курсов-->
    <div class="courses_container">
        {% for course in courses %}
            <div class="course_preview">
                <p><a href="{% url 'detail' course.pk %}">{{ course.title }}</a></p>
                <p>{{ course.start_date }}</p>
                <p>{{ course.description }}</p>
                <p><span class="price">{{ course.price }} р.</span></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}