{% extends 'base.html' %}
{% block content %}
<div class="main_container" xmlns="http://www.w3.org/1999/html">
        <div class="main_item" style="transform:none; box-shadow: none; border: none">
            <form id="form" method="post">
                <h3>{% block form_name %}Вход{% endblock %}</h3>
                {% csrf_token %}
                {{ form.as_p }}
                <p><button type="submit">Войти</button></p>
                <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
            </form>
        </div>
    </div>
{% endblock %}