{% extends 'base.html' %}
{% block content %}
<div class="main_container" xmlns="http://www.w3.org/1999/html">
        <div class="main_item" style="transform:none; box-shadow: none; border: none">
            <form id="form" method="post">
                <h3>{% block form_name %}Вход{% endblock %}</h3>
                <!-- Токен для защиты от подделки межсайтовых запросов -->
                {% csrf_token %}
                <!-- без него обработка формы завершится ошибкой "403...SCRF запрос отклонен -->
                <p><input type="text" maxlength="256" placeholder="Ваш Email" name="email" required></p>
                <p><input type="password" placeholder="Пароль" name="password" required></p>
                <p><button type="submit"Войти</button></p>
            </form>
        </div>
    </div>
{% endblock %}