{% extends 'base.html' %}
{% block content %}
<div class="main_container">
        <div class="main_item" style="transform:none; box-shadow: none; border: none">
            <form id="form" method="post">
                <h3>{% block form_name %}Восстановление пароля{% endblock %}</h3>
                Предпринята попытка сброса пароля с использованием вашего e-mail ({{ email }}).
                <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
                   Для сброса пароля перейдите по ссылке </a></p>
                <p>Ссылка действительная 1 день (или сутки?)</p>
            </form>
        </div>
    </div>
{% endblock %}