{% extends 'base.html' %}
{% block content %}
<div class="main_container">
    <div class="main_item" style="transform:none; box-shadow: none; border: none">
        <h3>{% block form_name %}Восстановление пароля{% endblock %}</h3>
        {% if validlink %}
            <p>Введите новый пароль дважды</p>
            <form id="form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p><button type="submit">Применить новый пароль</button></p>
            </form>
        {% else %}
            <p>Ссылка для восстановления пароля устарела или уже была использована</p>
        {% endif %}
    </div>
</div>
{% endblock %}